*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', serif;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.header-logo,
.black-logo,
.white-logo {
  color: #4d5ae5;
  font-family: 'Releway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.black-logo {
  color: #2e2f42;
}

.white-logo {
  color: #ffffff;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(248, 0, 0);
}

.ad-contacts {
  font-weight: 300;
  font-style: normal;
}

.hero {
  background-color: #2e2f42;
}

.order-button {
  color: #fff;
  background-color: #4d5ae5;
  padding: 20px 33px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: #404bbf;
}

/* Add border-shodows and radius */

.our-team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-img {
  width: 264px;
}

.portfolio-img {
  width: 360px;
}

.foot-contacts {
  background-color: #2e2f42;
}

.footer-text {
  color: #ffffff;
}
