body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: white;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #2e2f42;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
}

.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.span-part {
  color: #2e2f42;
}

.link {
  text-decoration: none;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.menu-list {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

.address-list {
  list-style-type: none;
  font-style: normal;
}

.hero {
  background-color: #2e2f42;
}

.button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.button:active {
  background-color: #404bbf;
}

.advantages-list {
  list-style-type: none;
}

.advantages-subtitle {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  width: 264px;
}

.team {
  background-color: #f4f4fd;
}

.list {
  list-style-type: none;
}

.team-card {
  width: 264px;
  /*height: 380px;*/
  background-color: #ffffff;
  text-align: center;
}

.portfolio-card {
  width: 360px;
  /*height: 420px;*/
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.footer-text {
  color: #f4f4fd;
}

.span-logo-footer {
  color: #4d5ae5;
}
