body {
  font-family: Arial, sans-serif;
}

.page-header {
  background-color: #bdbdbd;
}

.section-text {
  color: #ff5722;
  font-family: 'Tangerine', cursive;
}

.page-footer {
  background-color: #212121;
}

.copyright-text {
  color: #ffffff;
}

.page-title {
  color: #f44336;
  font-family: 'Prata', serif;
  font-family: 24px;
  font-weight: 900;
  font-style: italic;
}

p {
  font-family: 'Manrope', sans-serif;
}

.page-text {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Playwrite IN Guides', cursive;
}

.section-title {
  color: #3f51b5;
  font-size: 20px;
}

.link {
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: 16px;
}

.club-list .title {
  color: #4caf50;
}

.club-list .text {
  color: #009688;
}

.club-list .link {
  color: #ffc107;
}

.benefits > li {
  color: #d500f9;
}

.desig-task {
  color: teal;
}

.desig-task:hover {
  color: tomato;
  background-color: black;
}

.page-nav .link:hover {
  color: #18ffff;
}

.page-nav .link:active {
  color: #212121;
}

.club-list .link:hover,
.club-list .link:focus {
  color: #f57f17;
}

.club-list .link:active {
  color: #ff1744;
}

.download .link {
  color: teal;
}

.download .link:hover {
  color: orange;
}

.download .link:active {
  color: red;
}

.button:active {
  color: white;
  background-color: black;
}

.button {
  color: black;
  background-color: white;
}
